*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
proguard/
*.log
.navigation/
*.iml
.idea/
*.ipr
*.iws
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
.gradle
local.properties
.DS_Store
build/
*.hprof
.project
.gradle
app/build/
.DS_Store